body {
    margin: 0;
    background: linear-gradient( #010101ff, #263F4Bff, #6D827Bff, #A1AF95ff, #E9993Dff);
    background-attachment: fixed;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 1;
    width: 100%;
    z-index: 1000; 
    background-color: #000000; 
    padding-bottom: 20px;
}

.navbar-toggler {
        color: #E9993Dff;
        background-color: #E9993Dff;
    }
    
.navbar-toggler-icon{
        color: #E9993Dff;
        background-color: #E9993Dff;
    }
    
.navbar a {
    color: #E9993Dff;
    margin-left: 80px;
    margin-right: 80px;
    text-decoration: none;
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    text-shadow: #797979 0px 1px;
}

.hero-section {
    background-image: url('hero2.jpg'); /* Replace 'hero2.jpg' with the path to your hero image */
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    overflow: hidden; /* Ensure the overflow is hidden to prevent unwanted scrollbars */
    position: relative; /* Ensure proper positioning of child elements */
}


.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('hero2.jpg') center/cover;
    
    z-index: -1; 
}


.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}

.img-fluid {
    margin-top: 25px;
}

.profile-picture {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}

.profile-picture img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border: 5px solid #E9993Dff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: pulse 2s infinite alternate;
    transition: transform 0.5s ease;
}

.profile-picture img:hover {
    transform: rotateY(180deg);
}


.about-content {
    display: flex;
    padding: 20px;
    margin-top: 20px;
}

.biography {
    max-width: 1000px;
    color: #E9993Dff;
    margin-top: 20px;
}

.biography p {
    color: #000000;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.card-text {
    color: #010101ff;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto; 
    padding: 30px;
    margin-top: 20PX;
    background-color: rgba(7, 7, 7, 0.8); 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 253, 253, 0.2); 
    font-family: 'Montserrat', sans-serif;
    color:#ffffff
}

.contact-form h2 {
    color: #E9993Dff; 
    font-family: 'Bebas Neue', sans-serif; 
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #E9993Dff; 
    border-radius: 5px;
    color: #0a0a0a
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #E9993Dff; 
    border: none;
    border-radius: 5px;
    color: #ffffff; 
    font-family: 'Montserrat', sans-serif; 
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #D77F27ff; 
}

.contact-icon:hover{
    color: #D77F27ff;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
}


h2, h3, h4, h5{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-size: 45px;
    text-align: center;
    text-shadow: #1f1a25 0px 1px;
}

p{
    font-size: 25px;
}

footer {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: #E9993Dff;
    font-weight: bold;
    font-family: "bebas neue", sans-serif;
    letter-spacing: 2px;
}


.timeline-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .timeline-item {
    position: relative;
    padding: 50px;
    border-left: 2px solid #ccc;
  }
  
  .date {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .content {
    padding-left: 20px;
  }
  
  .timeline {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .career-goals,
  .personal-goals {
    width: 45%;
  }
  
  .time {
    font-weight: bold;
  }
  
  .description {
    margin-left: 20px;
  }

  .career-goals {
    background-color: #000000;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: #ccc 0px 0px 10px;
  }
  
  .personal-goals {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow:#000000 0px 0px 10px;
  }

